*.orig
*.refsignored
*.cache
*.user
.suo
.vs/
.idea/
Bin/
/obj/
[Bb]in/
/Uploads/
.suo
/bin/
syntax: glob
obj/
*.orig
packages/
*.refsignored
*.user
*.cache
node_modules/
Uploads/
packages/*
node_modules/**
/.vscode/
*/node_modules/
node_modules/
/publish

**/wwwroot/dist/**
**/ClientApp/package-lock.json 

